# FaIR Climate Model
attribution_methods/GlobalWarmingIndex/models/FaIR_V2

# VS Code
.vscode

# Plots
plots/

# Ancillary results calculated on the fly
results/ancillary/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# MacOS
*.DS_Store